{% extends "base_dashboard.html" %}

{% block title %}Profile | Django Blogs{% endblock %}

{% block content %}
<div class="container mx-auto flex justify-center min-h-[80vh] items-center py-10">
    <div class="w-full max-w-3xl shadow-lg rounded-md p-8 border border-gray-200 relative mx-2 md:mx-0">
        <div class="w-full h-40 rounded-t-md overflow-hidden">
            <img 
                src="https://wallpapercave.com/wp/wp3173683.jpg" 
                alt="Cover Image" 
                class="w-full h-full object-cover">
        </div>
        <div class="text-center absolute top-32 left-8">
            <img 
                src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png{% endif %}" 
                alt="Profile Picture" 
                class="w-32 h-32 rounded-full border-4 border-white shadow-lg">
        </div>
        <div class="mt-20 flex flex-col justify-between">

                <div class="flex justify-between">
                    <h2 class="text-3xl font-bold text-gray-800">{{ profile.user.username }}</h2>
                    <div class="mt-6 flex justify-start">
                        <a href="{% url 'edit_profile' %}" 
                           class="text-black hover:text-[#fc3d03] transition-all duration-300 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                            </svg>
                        </a>
                    </div>
                </div>
                
                <p class="text-gray-600 mt-1 flex items-center justify-start">
                    <i class="fas fa-envelope text-[#fc3d03] mr-2"></i>{{ profile.user.email }}
                </p>
                <p class="mt-2 text-gray-700 italic flex items-center justify-start">
                    <i class="fas fa-quote-left text-[#fc3d03] mr-2"></i>{{ profile.bio|default:"No bio available" }}
                </p>

          
        </div>      
    </div>
</div>
{% endblock %}